@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
header{
  position: absolute;
  width: 75px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #0077B6;
}
body{
  background: #F6F7FB;
}
#main-block{
  position: absolute;
  width: 500px;
  height: 314px;
  left: 114px;
  top: 62px;

  background: #0077B6;
  border-radius: 15px;
}
#humidity-block{
  position: absolute;
  width: 349px;
  height: 150px;
  left: 653px;
  top: 62px;

  background: #FFFFFF;
  border-radius: 15px;
}
#pressure-block{
  position: absolute;
  width: 349px;
  height: 150px;
  left: 1032px;
  top: 69px;

  background: #FFFFFF;
  border-radius: 15px;
}
#feels_like-block{
  position: absolute;
  width: 349px;
  height: 150px;
  left: 653px;
  top: 241px;

  background: #FFFFFF;
  border-radius: 15px;
}
#visibility-block{
  position: absolute;
  width: 349px;
  height: 150px;
  left: 1032px;
  top: 248px;

  background: #FFFFFF;
  border-radius: 15px;
}
#info-block{
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  
  left: 20px;
  bottom: 8px;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;

  color: #0077B6;
}
#title-block{
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  
  left: 20px;
  top: 27px;
  align-items: center;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  
  color: #98A3A7;
}
#img-block{
  display: flex;
  position: absolute;
  width: 85px;
  height: 85px;
  
  right: 15px;
  top: 32.5px;
}