<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    
    <title>Weather App</title>
</head>
<body>
  <div class='search-block'>
    <form action="weather" method="POST">
      <input id="city_name" name="city_name" type="text" placeholder="Buscar">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class='main-block'>
    <div class='f-block'>
      <p class='weight'>{{data['description'].upper()}}</p>
      <p>Agora em {{data['city'].title()}}</p>
    </div>
    <div class='s-block'>
      <img src="static/img/{{img}}.png" alt="img">
    </div>
    <div class='t-block'>
      <p class='temp'>{{data['celcius']}}°C</p>
      <p>Sensação {{data['feels_like']}}°C</p>
    </div>
  </div>
  <div class='details-block'>
    <p class='title-block'>Detalhes</p>
    <div class='detail'>
      <p>Humidade</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2828/2828802.png" alt="image">
      <p>{{data['humidity']}}%</p>
    </div>
    <div class='detail'>
      <p>Pressão</p>
      <img src="https://cdn-icons-png.flaticon.com/128/9218/9218189.png" alt="image">
      <p>{{data['pressure']}}mbar</p>
    </div>
    <div class='detail'>
      <p>Visibilidade</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2930/2930064.png" alt="image">
      <p>{{data['visibility']}}%</p>
    </div>
    <div class='detail'>
      <p>Vento</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2676/2676047.png" alt="image">
      <p>{{data['wind_speed']}}Km/h</p>
    </div>
    <div class='detail'>
      <p>MIN</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2996/2996023.png" alt="image">
      <p>{{data['min']}}°C</p>
    </div>
    <div class='detail'>
      <p>MÁX</p>
      <img src="https://cdn-icons-png.flaticon.com/512/2323/2323837.png" alt="image">
      <p>{{data['max']}}°C</p>
    </div>
  </div>
</body>
</html>